
@model QuizbeePlus.ViewModels.AttemptQuizQuestionViewModel
@{
    Layout = "";
}
<form role="form" id="answerForm" method="post">

    <div class="form-group" id="QuestionsAnswersContainer" >
        @foreach (var que in Model.Questions)
        {
            <div class="QuestionAnswer">
                <div class="form-group question">
                    <h4>@que.Title</h4>
                    <hr />
                </div>

                @foreach (var option in que.Options)
                {
                <div class="checkbox checkbox-success">
                    <input class="answer" type="checkbox" name="SelectedOptionID-@option.ID" value="@option.ID">


                    <label for="SelectedOptionID-@option.ID">
                        @option.Answer
                    </label>

                </div>
                }
            </div>
         

        }
    </div>

    <div id="actionsRow">
        <hr />
        <button type="button" id="submitButton" class="btn btn-info waves-effect waves-light w-md"><i class="fas fa-check mg-r-10"></i>&nbsp;Submit Answer</button>
        <button type="button" id="skipButton" class="btn btn-danger waves-effect waves-light w-md"><i class="fas fa-long-arrow-alt-right mg-r-10"></i>&nbsp;Skip</button>
    </div>
</form>



<script>
		$(document).ready(function () {

            $("#submitButton").click(function () {
                if ($('.answer:checkbox:checked').map(function () { return this.value; }).get().length > 0)
                {
                    //GetData();
                    SubmitAnswer();

				}
				else
				{
					Swal.fire({
						title: 'Select your option(s)',
						type: 'warning',
						confirmButtonColor: '#4fa7f3'
					});
				}
            });

		});

    function SubmitAnswer() {
        var cs = [];
        @foreach(var item in Model.QuestionsIDs)
        {
            @:cs.push(@item)

            @:console.log(@item)

        }

            $.ajax({
                type: "POST",

                url: '@Url.AnswerQuestion()',
                data: {
                    ExamID:'@Model.ExamID',
                    QuestionIds: cs,
                    SelectedOptionIDs: GetData() //$('.answer:checkbox:checked').map(function () { return this.value; }).get().join(),

                }
            }).done(function (data) {
                     var baseUrl="@Url.Main()";
                window.location.href = baseUrl;
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    /*alert(errorThrown);*/
                    var baseUrl = "@Url.Main()";
                    window.location.href = baseUrl;
                    alert("تم انهاء الاختبار بنجاح");
                });
    }
    function GetData() {
        var OL = [];
        $('.QuestionAnswer').each(function () {
            OL.push($(this).find(".answer:checkbox:checked").map(function () { return this.value; }).get().join());
        });
        return OL;


    }
</script>